{% extends 'dashboard.html' %}
{% block content %}
<div class="alert alert-info">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
<form method="POST">
    {% csrf_token %}
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="designation">Designation</label>
            <input type="text" class="form-control" id="designation" name="designation">
        </div>
    </div>
    <button type="submit" class="btn btn-primary" style="background-color: #d9534f;">Save</button>
</form>
{% endblock %}