{% extends 'dashboard.html' %}
{% block content %}
<div class="search-box">
    <h4 style="font-weight: bold;">Search</h4><br>
    <label for="consignorName">Ledger</label>
    <input type="text" id="consignorName" name="consignorName">
    <button type="button" class="btn btn-primary" style="background-color: #dc3545;">Search</button>
</div>
<div class="table-container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Ledger Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for x in data %}
        <tr>
            <td>{{x.ledger_name}}</td>
            <td>
                <button class="btn btn-sm btn-warning"><ion-icon name="create-outline"></ion-icon></button>
                <button class="btn btn-sm btn-danger"><ion-icon name="trash-outline"></ion-icon></button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
