{% extends 'dashboard.html' %}
{% block content %}
<div class="search-box">
    <h4 style="font-weight: bold;">Search</h4>
    <label for="consignorName">State:</label>
    <input type="text" id="consignorName" name="consignorName" value="{{request.GET.consignorName}}">
    <button type="button" class="btn btn-primary" style="background-color: #dc3545;">Search</button>
</div>
<div class="table-container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>State</th>
            <th>District</th>
            <th>Active</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for x in district_data %}
        <tr>
            <td>{{x.state}}</td>
            <td>{{x.district_name}}</td>
            <td>{{x.status}}</td>
            <td>
                <button class="btn btn-sm btn-warning"><a href=/edit_dis/{{x.district_id}}><ion-icon name="create-outline"></ion-icon></a></button>
                <button class="btn btn-sm btn-danger"><a href=/delete_dis/{{x.district_id}}><ion-icon name="trash-outline"></ion-icon></a></button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}