{% extends 'dashboard.html' %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="search-box">
        <h4 style="font-weight: bold;">Search</h4><br>
        <label for="date">Date:</label>
        <input type="date" id="date" name="consignorName"><br><br>
        <p>OR</p>
        <label for="booking_no">Booking No.</label>
        <input type="text" id="booking_no" name="consignorName" style="width: 300px;">
        <button type="button" class="btn btn-primary" style="background-color: #dc3545;">Search</button>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th><input type="checkbox"></th>
            <th>Booking Date</th>
            <th>Consignor</th>
            <th>Consignee</th>
            <th>Booking No.</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
            {% for x in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td><input type="checkbox" name="booking_id" id="booking_id" value="{{x.booking_id}}"></td>
            <td>{{x.date|date:"d/m/y"}}</td>
            <td>{{x.consignor_name}}</td>
            <td>{{x.consignee_name}}</td>
            <td>{{x.booking_id}}</td>
            <td>{{x.number_of_boxes}}</td>
            <td>{{x.price}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-save" style="background-color: #d9534f; color: white;">Save</button>
</form>
{% endblock %}